<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0275d8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #292b2c;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: ##292b2c;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 35px;}
  .sidenav a {font-size: 18px;}
}

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }

  #demo{
    position: all;
    z-index: 2;
  }

  
    .carousel-item{
        min-height: 400px;
        background-size: cover;
    }


</style>